.jumbotron-header {
  background: #14171c;
  color: white;
}
.jumbotron-inner {
  padding: 34px 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.shopping-pane-list{
    margin-right: 40px;
}
.shopping-container{
border-top: none;
}
.shopping_list_title {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.shopping-list_1_ul {
  -webkit-box-shadow: 0 0 2px #dedfe0;
  box-shadow: 0 0 2px #dedfe0;
  margin-bottom: 8px;
}
.shoppling_list_item {
  border-top: solid 1px #dedfe0;
  max-height: 300px;
  overflow: hidden;
}
.shopping_card {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 10px 10px;
  position: relative;
  padding-right: 115px;
  
}
.shopping_thumbnail {
  flex: 0 1 auto;
  min-width: 1px;
  margin-right: 10px;
}
.shopping_img {
  height: auto;
  max-width: 130px;
  display: inline-block;
}
.shopping_card_column {
  flex: 1 1;
  min-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100px;
}
.shopping_card_column > * {
  display: inline-block;
  flex: 0 1 auto;
  min-width: 1px;
}
.shopping_card_title {
  display: block !important;
  /* display: -webkit-box !important; */
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 0;
  max-height: 37px;
  color: #29303b;
  line-height: 1.2;
  font-weight: 700;
  max-height: 55px;
}
.shopping_card_text {
  line-clamp: 2;

  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 36px;
  white-space: nowrap;
  font-size: 13px;
  color: #686f7a;
}
.shopping_card_action {
  display: flex;
  flex: 0 1 auto;
  min-width: 1px;
  flex-direction: column;
  line-height: 1.6;
  position: static;
  text-align: right;
  width: auto;
}

.shopping_card_action_span{
font-size: 13px;
color:#007791
}
.shopping_card_prices{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: absolute;
    padding-right: 20px;
    right: 10px;
    text-align: right;
    top: 10px;
}
.price_text{
    justify-content: flex-end;
    flex-wrap: wrap;
    display:flex;
   flex-direction: column;
}
.course-price-text-discount{
    color: #ec5252;
    font-size: 15px;
    font-weight: 700;
}
.course-price-text-original{
    color: #686f7a;
    font-size: 15px;
    font-weight: 400;
}
.shopping-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    max-width: 100%;
}
/* .shopping-pane-checkout {
    border-top: none;
    margin-left: 30px;
    width: 270px;
    flex: 0 1 auto;
    min-width: 1px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    z-index: 2;
} */
.redeem-coupon{
    display: flex;
}
