.slider-height {
    height: 400px;
    
}
.slider-area .single-slider .slider-cap-wrapper .hero-caption h1{
    font-size: 40px;
}
.slider-area .single-slider .slider-cap-wrapper .hero-caption p{

    font-size: 20px;
}
.slider-area .single-slider .slider-cap-wrapper .hero-caption {
    /* position: relative; */
    width: 45%;
}